[mysqld]
character_set_server=utf8
#Misc
user = mysql
port = 3306
socket = /tmp/mysql.sock
basedir = /usr/local/mysql
datadir =  /usr/local/mysql/data
ft_min_word_len=1
max_allowed_packet = 32M
 
#Performance
log-bin=mysql-bin
binlog_format="MIXED"
net_read_timeout = 60
wait_timeout = 100
interactive_timeout = 100
open_files_limit = 10240
back_log = 150
max_connections = 1000
max_connect_errors = 100000
external-locking = FALSE
performance_schema = 0
 
#buffers & cache
table_open_cache = 2048   #在mysql5.6不再支持table_cache
table_definition_cache = 2048
max_heap_table_size = 246M
sort_buffer_size = 2M
join_buffer_size = 2M
thread_cache_size = 256
 
#thread_concurrency = 8
query_cache_size = 32M
query_cache_limit = 2M
query_cache_min_res_unit = 2k
thread_stack = 192K
read_buffer_size = 1M
read_rnd_buffer_size = 16M
bulk_insert_buffer_size = 64M
 
#logs
log-error=/usr/local/mysql/logs/mysql.err
log_warnings = 2
slow-query-log
slow-query-log-file=/use/local/mysql/logs/slow-log.log
long_query_time = 2
log-queries-not-using-indexes = 1
log-slow-admin-statements = 1
log-slow-slave-statements = 1
 
#binlog & replication
server-id = 2086 #如果需要做主从的话，此项必须要不同
binlog_format = ROW
binlog-row-image = minimal
binlog_cache_size = 4M
max_binlog_cache_size = 2G
max_binlog_size = 1G
expire_logs_days = 7
relay-log-purge = 1
sync_binlog = 0
skip-slave-start = 1
log-slave-updates  = 1
 
#Myisam engine
key_buffer_size = 32M
myisam_sort_buffer_size = 128M
myisam_max_sort_file_size = 10G
myisam_repair_threads = 1
myisam_recover
lower_case_table_names = 1
skip-name-resolve
slave-skip-errors = 1032,1062
 
#Innodb engine
innodb_additional_mem_pool_size = 16M
innodb_buffer_pool_size = 768M
innodb_data_file_path = ibdata1:1G:autoextend
innodb_file_per_table = 1
innodb_thread_concurrency = 0
innodb_flush_log_at_trx_commit = 2
innodb_log_buffer_size = 16M
innodb_log_file_size = 256M
innodb_log_files_in_group = 3
innodb_max_dirty_pages_pct = 75
innodb_lock_wait_timeout = 120
innodb_rollback_on_timeout
innodb_status_file = 1
innodb_io_capacity = 800
transaction_isolation = READ-COMMITTED
innodb_flush_method = O_DIRECT
innodb-support-xa = 0
innodb_read_io_threads = 8
innodb_write_io_threads = 8
innodb_file_format = Barracuda
 
skip-name-resolve
log_slave_updates = 1
#auto_increment_increment=2
#auto_increment_offset=1
 
[mysqldump]
quick
max_allowed_packet = 32M
